<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>RegisterUser</servlet-name>
    <display-name>RegisterUser</display-name>
    <description></description>
    <servlet-class>com.example.web.RegisterUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginUser</servlet-name>
    <display-name>LoginUser</display-name>
    <description></description>
    <servlet-class>com.example.web.LoginUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutUser</servlet-name>
    <display-name>LogoutUser</display-name>
    <description></description>
    <servlet-class>com.example.web.LogoutUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PopulateCourseForm</servlet-name>
    <display-name>PopulateCourseForm</display-name>
    <description></description>
    <servlet-class>com.example.web.PopulateCourseForm</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PopulateAssessmentCriteriaForm</servlet-name>
    <display-name>PopulateAssessmentCriteriaForm</display-name>
    <description></description>
    <servlet-class>com.example.web.PopulateAssessmentCriteriaForm</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PopulateStudentAssessmentForm</servlet-name>
    <display-name>PopulateStudentAssessmentForm</display-name>
    <description></description>
    <servlet-class>com.example.web.PopulateStudentAssessmentForm</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PopulateAdminDashboard</servlet-name>
    <display-name>PopulateAdminDashboard</display-name>
    <description></description>
    <servlet-class>com.example.web.PopulateAdminDashboard</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PopulateInstructorDashboard</servlet-name>
    <display-name>PopulateInstructorDashboard</display-name>
    <description></description>
    <servlet-class>com.example.web.PopulateInstructorDashboard</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PopulateStudentDashboard</servlet-name>
    <display-name>PopulateStudentDashboard</display-name>
    <description></description>
    <servlet-class>com.example.web.PopulateStudentDashboard</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateCourse</servlet-name>
    <display-name>CreateCourse</display-name>
    <description></description>
    <servlet-class>com.example.web.CreateCourse</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateCourse</servlet-name>
    <display-name>UpdateCourse</display-name>
    <description></description>
    <servlet-class>com.example.web.UpdateCourse</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteCourse</servlet-name>
    <display-name>DeleteCourse</display-name>
    <description></description>
    <servlet-class>com.example.web.DeleteCourse</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateStudentCourse</servlet-name>
    <display-name>CreateStudentCourse</display-name>
    <description></description>
    <servlet-class>com.example.web.CreateStudentCourse</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateAssessmentCriteria</servlet-name>
    <display-name>CreateAssessmentCriteria</display-name>
    <description></description>
    <servlet-class>com.example.web.CreateAssessmentCriteria</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateAssessmentCriteria</servlet-name>
    <display-name>UpdateAssessmentCriteria</display-name>
    <description></description>
    <servlet-class>com.example.web.UpdateAssessmentCriteria</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateStudentAssessment</servlet-name>
    <display-name>CreateStudentAssessment</display-name>
    <description></description>
    <servlet-class>com.example.web.CreateStudentAssessment</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateStudentAssessment</servlet-name>
    <display-name>UpdateStudentAssessment</display-name>
    <description></description>
    <servlet-class>com.example.web.UpdateStudentAssessment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/RegisterUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/LoginUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutUser</servlet-name>
    <url-pattern>/LogoutUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PopulateCourseForm</servlet-name>
    <url-pattern>/PopulateCourseForm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PopulateAssessmentCriteriaForm</servlet-name>
    <url-pattern>/PopulateAssessmentCriteriaForm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PopulateStudentAssessmentForm</servlet-name>
    <url-pattern>/PopulateStudentAssessmentForm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PopulateAdminDashboard</servlet-name>
    <url-pattern>/PopulateAdminDashboard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PopulateInstructorDashboard</servlet-name>
    <url-pattern>/PopulateInstructorDashboard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PopulateStudentDashboard</servlet-name>
    <url-pattern>/PopulateStudentDashboard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateCourse</servlet-name>
    <url-pattern>/CreateCourse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateCourse</servlet-name>
    <url-pattern>/UpdateCourse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCourse</servlet-name>
    <url-pattern>/DeleteCourse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateAssessmentCriteria</servlet-name>
    <url-pattern>/CreateAssessmentCriteria</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateAssessmentCriteria</servlet-name>
    <url-pattern>/UpdateAssessmentCriteria</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateStudentCourse</servlet-name>
    <url-pattern>/CreateStudentCourse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateStudentAssessment</servlet-name>
    <url-pattern>/CreateStudentAssessment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateStudentAssessment</servlet-name>
    <url-pattern>/UpdateStudentAssessment</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/error.jsp</location>
  </error-page>
</web-app>